<div class="content center">
    <div class="progress" id="progress_bar">
        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="5">
            <span>0/20</span>
        </div>
    </div>

    Servers: <span id="serverStatus"></span>

    <h2 class="hidden">Training
        <input type="checkbox" data-toggle="toggle"
               id="trainingChk">
    </h2>
    <div class="input-group addPersonDiv">
        <input type="text" class="form-control" id="addPersonTxt">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button"
                    id="addPersonBtn">
                Add Person
            </button>
        </span>
    </div>

    <ul id="peopleInfo"></ul>
</div>