{% extends 'webopenface/base.html' %}

{% block content %}
    <div class="container" id="mainPage">
        <div class="header col-sm-8">
            {% include 'webopenface/video-src.html' %}

            {% include 'webopenface/video-result.html' %}

        {% include 'webopenface/add-perosn.html' %}
        </div>

        {% include 'webopenface/detected.html' %}
    </div>
        {% include 'webopenface/added_people_list.html' %}
{% endblock %}

{% block staticFile %}
    {% load staticfiles %}
    <script src="{% static 'webopenface/js/main.js' %}"></script>
{% endblock %}