{% extends 'webopenface/base.html' %}
{% block content %}
    <div class="container">
        <h2 id="lf-head">Last frames</h2>
        {% if frames %}
            <table id="table" class="table table-responsive">
                <thead>
                    <th> </th>
                    <th>PK</th>
                    <th>Frame</th>
                    <th>Number of people</th>
                    <th>Added date</th>
                </thead>
                <tbody>
                    {% for el in frames %}

                        <tr>
                            <td> {{ forloop.counter }}</td>
                            <td class="pk">{{ el.id }}</td>
                            <td><img src="{{ el.frame }}"></td>
                            <td>{{ el.detectedface_set.count }}</td>
                            <td>{{ el.add_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No frames.</p>
        {% endif %}
    </div>
{% endblock %}


{% block staticFile %}
    {% load staticfiles %}
    <script src="{% static 'webopenface/js/lastframes.js' %}"></script>
{% endblock %}